<!-- <div class="row">
    <div *ngIf="error" class=" col-xs-6 alert alert-danger">
        <h3>{{error}}</h3>
    </div>
</div> -->
<app-alert *ngIf="error" [message]="error" (close)="onHandleClose()"></app-alert>
<div *ngIf="!isLoading" class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" ngModel name="email" required email>
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" ngModel name="password" required minlength="6">
            </div>
            <div>
                <button [disabled]="!f.valid" class="btn btn-primary">{{isLoginMode ? 'Login':'Sign Up'}}</button>
                |
                <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to {{isLoginMode? 'Sign
                    Up':'Login'}}</button>

            </div>
        </form>
    </div>
</div>

<div *ngIf="isLoading" class="center">
    <loading-spinner></loading-spinner>
</div>
<br>